#board
  #menu
    =link_to("Dashboard", root_url)

  .apps
    =link_to({}, :class => "app") do
      .image
      .title Clients
    =link_to({}, :class => "app") do
      .image
      .title Fournisseurs
    =link_to({}, :class => "app") do
      .image
      .title Comptabilité
    =link_to({}, :class => "app") do
      .image
      .title Ventes
    =link_to({}, :class => "app") do
      .image
      .title Achats
    =link_to({}, :class => "app") do
      .image
      .title Stocks

